/* Lucas Bubner, 2023 */

* {
    font-family: "Inter", sans-serif;
    user-select: none;
    overflow-x: hidden;
}

html {
    opacity: 0;
    animation: inwardsFade 1s ease-in-out forwards;
}

@keyframes inwardsFade {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

p {
    user-select: text;
}

#header {
    width: 100%;
    position: fixed;
    inset: 0px;
    height: 60px;
    box-shadow: 0 0 1rem 0 rgba(0, 0, 0, 0.5);
    z-index: 1;
    background: inherit;
    overflow: hidden;
}

#header:before {
    content: "";
    position: absolute;
    background: inherit;
    z-index: -1;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    box-shadow: inset 0 0 2000px rgba(0, 0, 0, 0.3);
    filter: blur(10px);
    margin: -20px;
}

#header-container {
    background: url(https://images.unsplash.com/photo-1544306094-e2dcf9479da3) no-repeat;
    background-attachment: fixed;
    background-size: cover;
    display: grid;
    align-items: center;
    justify-content: center;
    height: 100%;
}

#bigheading {
    font-weight: 800;
    font-size: 48px;
}

#smallheading {
    font-size: 28px;
}

#bg {
    inset: 0px;
    position: fixed;
    opacity: 0.33;
    z-index: -1;
}

#heading-text {
    position: relative;
    top: 25%;
    left: 10%;
}

#heading-text p {
    margin-top: -0.5em;
    margin-bottom: 0;
    padding: 0;
}

.text-area {
    position: relative;
    left: 10%;
    width: 40vw;
}

.text-area p {
    font-size: 18px;
}

hr {
    width: 40vw;
    transform: translateX(-50%);
    border: 1px solid black;
}

#bgelem {
    position: relative;
    top: 15vh;
    left: -10%;
    opacity: 0.33;
    z-index: -1;
}

.htext {
    text-align: center;
    font-size: 24px;
    font-weight: 800;
}

#logo {
    width: auto;
    height: 40px;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    top: 10px;
}

#author {
    position: absolute;
    top: 25%;
    transform: translateY(-25%);
    right: 10px;
    font-size: 12px;
    font-weight: 600;
    color: #ffffff;
}

#author a {
    color: #ffffff;
}
